<section class="animated-container"></section>

<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #fff;">
  <a href="/" class="navbar-brand">search<strong>ME</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Platform Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">Internal</h6>
          <a class="dropdown-item" href="/categories">Categories</a>
          <a class="dropdown-item" href="/restaurants">Restaurants</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">External</h6>
          <a class="dropdown-item" href="/users">Users</a>
        </div>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_admin.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to('Sign Out', destroy_admin_session_path, method: :delete, class: 'dropdown-item') %>
        </div>
      </li>
    </ul>
  </div>
</nav>