<%= render 'navbar' %>

<div class="container mt-5">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-md-6">
      <div class="card bs-box" style="padding-top: 20px;">
        <div class="card-body text-center">
          <h2><%= @restaurants %></h2>
          <p>Total restaurants</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bs-box" style="padding-top: 20px;">
        <div class="card-body text-center">
          <h2><%= @categories %></h2>
          <p>Total categories</p>
        </div>
      </div>
    </div>
  </div>
</div>