<%= render 'navbar' %>

<div data-controller="search toast">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= form_with(url: '/search', method: 'post') do |form| %>
            <%= form.text_field :query, 
              class: 'form-control form-control-lg d-inline-block col-12', 
              placeholder: 'Search for a restaurant...', autofocus: true,
              data: {'search-target': 'query', action: 'keyup->search#perform'}
            %>
          <% end %>
        </div>
      </div><!-- end row -->
      
      <div class="row">
        <div class="col-md-12 text-center">
          <%= render(Global::ButtonsCollectionComponent.with_collection(@categories)) %>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>

  <div class="container">
    <div class="col-md-12">
      <div id="results-counter"></div>
      <div id="restaurant_map"></div>
      <div id="results"></div>
    </div>
  </div>
</div>