<%= render 'navbar' %>

<div class="jumbotron">
  <div class="container">
    <input class="form-control form-control-lg" type="text" placeholder="Find: sushi, bbq, pizza...">
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <p class="lead">No restaurants found</p>
  </div>
</div>