<%= render 'admin_dashboards/navbar' %>

<div class="jumbotron text-center">
  <h1>Update Restaurant</h1>
  <%= link_to 'Back', restaurants_path, class: "btn btn-link" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= turbo_frame_tag dom_id(@restaurant) do %>
        <%= render 'form', restaurant: @restaurant %>
      <% end %>
    </div><!-- end col-md-12 -->
  </div><!-- end row -->
</div><!-- end container -->
