<div class="container">
  <div class="jumbotron text-center">
    <h1>Update Restaurant</h1>
    <%= link_to 'Back', root_path, class: "btn btn-link" %>
  </div>

  <div class="col-md-12">
    <%= render 'form', restaurant: @restaurant %>
  </div><!-- end col-md-12 -->
</div><!-- end container -->

